.categories{
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    padding: 30px 0px;
  
}
.icons{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    border: 1px 0px 0px 0px; 
    margin-top: 7px;
    margin-right: 20px; 
    background-color: white;
    text-align: center;
    padding: 5px 11px;
    border-radius: 5px;

}
.categories-list-container{
    /* display: flex; */
    width: 1127px;

 }
.categories-list-container .categories-item{
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    width: 140px;
    height: 80px;
    background-color: #ff0000;
    cursor: pointer;
    align-items: center;
    background: white;
    float: left;
}

.categories-item{
    width: 43px;
    height: 41px;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    display: inline-block;
}

.categories-item:hover{
    opacity: 0.6;
   
}
.categories.icons{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.add-cotegory{
left: 975px;
gap: 0px;
border-radius: 5px;
background: white;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
padding: 27px 15px;
cursor: pointer;
}

.add-category-popup{
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 8px; 
    width: 300px;
    height: 300px;
    background-color: #fff;
}

.add-category-popup-layer{
    position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 78%); 
  z-index: 999;

}
.add-category-popup-title{
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
}

.add-category-popup-close {
    font-size: 54px;
    line-height: 1px;
    color: #847f80;
    transform: rotate(45deg);
    float: right;
    font-weight: 100;
    cursor: pointer;
}

.add-category-popup-women-man{
    margin-top: 20px;
}

.add-category-popup-women-man>.women{
    
}

.add-category-popup-women-man .icon {
    
}

.add-category-popup-women-man>.man{
    margin-left: 45px;
}

.category-type{
    float: left;
    width: 125px;
    height: 26px;
    border: solid 1px #a4a4a4;
    border-radius: 5px;
    padding: 6px 0px 0px 0px;
    text-align: center;
}

.add-category-popup-form .name input {
    outline: none;
    border: none;
    border-bottom: solid 1px #c1c1c1;
    width: 294px;
    margin-top: 25px;
    font-size: 17px;
    color: black;
}


.default-preview{
    width: 300px;
    height: 105px;
    background-color: #d3d3d3;
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.uploading-image{
    max-width: 300px;
    max-height: 100px;
    margin-top: 15px;
    cursor: pointer;
}

.add-category-popup-form .image {
    text-align: center;
}

.category-type{
    cursor: pointer;
}

.save-category-button input {
    width: 259px;
    height: 32px;
    border-radius: 25px;
    background: #0008C1;
    color: #fff;
    border: none;
    margin-top: 10px;
}

.save-category-button{
    text-align: center;
}

.categories-list-container {
    /* width: 100%;  */
    overflow-x: auto;
    white-space: nowrap;
}

.categories-scroll {
    display: inline-block;
    /* padding: 10px; */
}

.categories-list-container::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.categories-list-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.categories-list-container::-webkit-scrollbar-thumb {
    background-color: #0008C1; 
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

.categories-list-container::-webkit-scrollbar-thumb:hover {
    background-color: #0008C1;
}

/* Firefox */
.categories-list-container {
    scrollbar-width: thin;
    scrollbar-color: #0008C1 #f1f1f1;
}


.category-type.active{
    background: #e0dede;
}

.categories-item img{
    max-width: 44px;
    max-height: 44px;
}

.categories-item.active{
    border: solid 1px rgb(23, 22, 22);
    z-index: 801;
    position: relative;
}