.product-type{
    /* width: 1280px; */
    display: flex;
    justify-content: space-around;
    margin-left: 60px;
}
.product-row{
    width: 1280px;
}
ul{
    list-style: none;
    display: flex;
    padding-left: 5px;
    float: left;
}
ul li{
    font-size: 20px;
    font-style: inherit;
    padding-right: 42px;
    padding-bottom: 10px;
    border-bottom: solid 5px #fff;
    cursor: pointer;
}

ul li.active {
    border-bottom: solid 5px #0008C1;
}

.product-list-content{
    display: flex;
    justify-content: space-around;
    margin-left: 60px;
}
.product-item{
width: 192px;
height: 170px;
border-radius: 5px;
float: left;
background-color: #fff;
margin: 10px;
text-align: center;
}

.product-list{
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.product-item img{
    margin-top: 10px;
}

.product-deteils div{
    float: left;
    width: 50%;
}

.add-sub-category-button{
    height: 40px;
    width: 30px;
    background: #fff;
    border-radius: 5px;
    float: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    color: #847f80;
    font-size: 30px;
    line-height: 33px;
    padding-left: 10px;
    cursor: pointer;
    position: relative;
}

.add-sup-category-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 78%);
    z-index: 800;
}

.add-sub-category-popup{
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 8px; 
    width: 345px;
    height: 160px;
    background-color: #fff;
}

.add-sub-category-popup-name {
    outline: none;
    border: none;
    border-bottom: solid 1px #c1c1c1;
    width: 310px;
    margin-top: 25px;
    font-size: 22px;
    color: black;
}